

/* Guessing buttons */
.standard-btn{
    width: 83px;
    height: 113px;
    background-size: 80px !important;
    border-radius: 10%;
    background-repeat: no-repeat;
}

/* Class for disabled buttons / buttons that are incorrect */
.disabled-btn{
    opacity: .4;
}

/* Back hint buttons rounded */
.characteristic {
    border-radius: 5%;
}

/* Center content */
.container {
    text-align: center;
}

/* Drop down buttons for eliminating choices begins */
.dropbtn {
    background-color: #5C95E8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 20%;
}

/*  */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3D70BA;}

/* Drop down button CSS ends & indiv. button background pictures to display characters begin below */

#alex{
    background: url("~/public/images/Alex.png");
}

#andy{
    background: url("~/public/images/Andy.png");
}

#ashley{
    background: url("~/public/images/Ashley.png");
}

#brandon{
    background: url("~/public/images/Brandon.png");
}

#chris{
    background: url("~/public/images/Chris.png");
}

#connor{
    background: url("~/public/images/Connor.png");
}

#daniel{
    background: url("~/public/images/Daniel.png");
}

#david{
    background: url("~/public/images/David.png");
}

#emily{
    background: url("~/public/images/Emily.png");
}

#jake{
    background: url("~/public/images/Jake.png");
}

#james{
    background: url("~/public/images/James.png");
}

#jon{
    background: url("~/public/images/Jon.png");
}

#joseph{
    background: url("~/public/images/Joseph.png");
}

#joshua{
    background: url("~/public/images/Joshua.png");
}

#justin{
    background: url("~/public/images/Justin.png");
}

#kyle{
    background: url("~/public/images/Kyle.png");
}

#matt{
    background: url("~/public/images/Matt.png");
}

#megan{
    background: url("~/public/images/Megan.png");
}

#nick{
    background: url("~/public/images/Nick.png");
}

#rachael{
    background: url("~/public/images/Rachael.png");
}

#sarah{
    background: url("~/public/images/Sarah.png");  
}

#tyler{
    background: url("~/public/images/Tyler.png");
}

#william{
    background: url("~/public/images/William.png");
}

#zachary{
    background: url("~/public/images/Zachary.png");
}
